##Integração Python e Excel

In [1]:
import pandas as pd

In [2]:
base_vendas = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Integração Excel - Python Pandas/BaseVendas.xlsx', skiprows = 1, sheet_name = 'Vendas')
base_vendas.head(5)

,Unnamed: 0,Data,Quantidade,ID do Produto,ID do Comprador,ID da Loja,Valor Total da Compra
0,NaN,2020-01-01,6,7,27,3,25194.00
1,NaN,2020-01-02,1,10,21,1,62.90
2,NaN,2020-01-03,6,1,4,10,56994.00
3,NaN,2020-01-04,10,5,6,9,47040.00
4,NaN,2020-01-05,2,6,10,10,6839.82

In [3]:
base_vendas = base_vendas.drop('Unnamed: 0', axis = 1)
base_vendas

,Data,Quantidade,ID do Produto,ID do Comprador,ID da Loja,Valor Total da Compra
0,2020-01-01,6,7,27,3,25194.00
1,2020-01-02,1,10,21,1,62.90
2,2020-01-03,6,1,4,10,56994.00
3,2020-01-04,10,5,6,9,47040.00
4,2020-01-05,2,6,10,10,6839.82
...,...,...,...,...,...,...
726,2021-12-27,6,12,18,1,312.00
727,2021-12-28,2,9,17,3,138.00
728,2021-12-29,4,2,26,6,15994.80
729,2021-12-30,6,10,6,2,377.40
730,2021-12-31,8,1,17,7,75992.00

In [4]:
base_vendas.columns

Index(['Data', 'Quantidade', 'ID do Produto', 'ID do Comprador', 'ID da Loja',
       'Valor Total da Compra'],
      dtype='object')

In [5]:
base_vendas[['Data', 'Quantidade', 'ID do Produto', 'Valor Total da Compra']]

          Data  Quantidade  ID do Produto  Valor Total da Compra
0   2020-01-01           6              7               25194.00
1   2020-01-02           1             10                  62.90
2   2020-01-03           6              1               56994.00
3   2020-01-04          10              5               47040.00
4   2020-01-05           2              6                6839.82
..         ...         ...            ...                    ...
726 2021-12-27           6             12                 312.00
727 2021-12-28           2              9                 138.00
728 2021-12-29           4              2               15994.80
729 2021-12-30           6             10                 377.40
730 2021-12-31           8              1               75992.00

[731 rows x 4 columns]

In [6]:
base_produtos = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Integração Excel - Python Pandas/BaseProdutos.xlsx', skiprows = 1)
base_produtos.drop('Unnamed: 0', axis = 1, inplace = True)
base_produtos

,ID do Produto,Nome do Produto,Marca,Cor do Produto,Preço,Categoria,Sub-categoria,Estoque
0,1,iPhone 13 Pro,Apple,Grafite,9499.00,Eletrônicos,Celulares,10
1,2,Galaxy S21,Samsung,Rosa,3998.70,Eletrônicos,Celulares,4
2,3,Boombox 2,JBL,Preto,2609.10,Eletrônicos,Alto-Falante,20
3,4,Echo Dot (3ª Geração),Amazon,Preto,293.55,Eletrônicos,Alto-Falante Inteligente,11
4,5,"Lava e Seca 10,1 kg",Brastemp,Prata,4704.00,Eletrodomésticos,Máquina de Lavar,16
5,6,Lavadora de Roupas Digital Inverter 11kg,Samsung,Inox,3419.91,Eletrodomésticos,Máquina de Lavar,13
6,7,Lava Louças Ciclo Pesado,Brastemp,Inox,4199.00,Eletrodomésticos,Lava-louças,14
7,8,Lava-Louças 8 Serviços,Electrolux,Inox,2470.63,Eletrodomésticos,Lava-louças,7
8,9,Smart Lâmpada Inteligente EWS 407,Intelbras,Branco,69.00,Eletrônicos,Lâmpada LED,16
9,10,Smart Lâmpada Wi-Fi Casa Inteligente,Positivo,Branco,62.90,Eletrônicos,Lâmpada LED,9
10,11,Mouse Gamer G203 LIGHTSYNC RGB,Logitech,Preto,109.90,Eletrônicos,Mouse,4
11,12,Mouse Gamer com Fio 3200DPI,Multilaser,Preto,52.00,Eletrônicos,Mouse,7

In [7]:
base_lojas = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Integração Excel - Python Pandas/BaseLojas.xlsx', skiprows = 1)
base_lojas.drop('Unnamed: 0', axis = 1, inplace = True)
base_lojas

,ID da Loja,Rua,CEP,Bairro,Cidade,Estado
0,1,Rua Barão de Vitória,9961660,Casa Grande,Diadema,SP
1,2,Rua Paracatu,4302021,Parque Imperial,São Paulo,SP
2,3,Rua Arlindo Nogueira,64000290,Centro,Teresina,PI
3,4,Rua Cristiano Olsen,16015244,Jardim Sumaré,Araçatuba,SP
4,5,Rua dos Carijós,30120060,Centro,Belo Horizonte,MG
5,6,Avenida Afonso Pena,30130005,Boa Viagem,Belo Horizonte,MG
6,7,Rua Tenente-Coronel Cardoso,28035042,Centro,Campos dos Goytacazes,RJ
7,8,Avenida Governador José Malcher,66055260,Nazaré,Belém,PA
8,9,Avenida Esbertalina Barbosa Damiani,29946490,Guriri Norte,São Mateus,ES
9,10,Rua Carlos Augusto Cornelsen,80520560,Bom Retiro,Curitiba,PR

In [8]:
base_compradores = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Integração Excel - Python Pandas/BaseCompradores.xlsx', skiprows = 1)
base_compradores.drop(['Unnamed: 0', 'Column1'], axis = 1, inplace = True)
base_compradores.tail(5)

,ID do Comprador,Nome Completo,Nome,Sobrenome,Sobrenome2,E-mail,Idade,Número Total de Compras
34,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,,,,,,,

In [9]:
base_compradores = base_compradores[base_compradores['ID do Comprador'].notna()]
base_compradores.tail(5)

,ID do Comprador,Nome Completo,Nome,Sobrenome,Sobrenome2,E-mail,Idade,Número Total de Compras
25,26.0,Letícia Costela,Letícia,Costela,NaN,Letícia.Costela@hotmail.com,34,1
26,27.0,Giovanna Moura,Giovanna,Moura,NaN,Giovanna.Moura@hotmail.com,48,16
27,28.0,Yago Moraes,Yago,Moraes,NaN,Yago.Moraes@gmail.com,26,0
28,29.0,Caroline Silva,Caroline,Silva,NaN,Caroline.Silva@gmail.com,37,11
29,30.0,Bernardo Pereira,Bernardo,Pereira,NaN,Bernardo.Pereira@gmail.com,36,4

In [10]:
base_completa = base_vendas.merge(base_produtos, on = 'ID do Produto', how = 'left') # junção base vendas e base produtos
base_completa.head()

,Data,Quantidade,ID do Produto,ID do Comprador,ID da Loja,Valor Total da Compra,Nome do Produto,Marca,Cor do Produto,Preço,Categoria,Sub-categoria,Estoque
0,2020-01-01,6,7,27,3,25194.00,Lava Louças Ciclo Pesado,Brastemp,Inox,4199.00,Eletrodomésticos,Lava-louças,14
1,2020-01-02,1,10,21,1,62.90,Smart Lâmpada Wi-Fi Casa Inteligente,Positivo,Branco,62.90,Eletrônicos,Lâmpada LED,9
2,2020-01-03,6,1,4,10,56994.00,iPhone 13 Pro,Apple,Grafite,9499.00,Eletrônicos,Celulares,10
3,2020-01-04,10,5,6,9,47040.00,"Lava e Seca 10,1 kg",Brastemp,Prata,4704.00,Eletrodomésticos,Máquina de Lavar,16
4,2020-01-05,2,6,10,10,6839.82,Lavadora de Roupas Digital Inverter 11kg,Samsung,Inox,3419.91,Eletrodomésticos,Máquina de Lavar,13

In [11]:
base_compradores = base_compradores[['ID do Comprador','Nome Completo', 'Idade']]
base_completa = base_completa.merge(base_compradores, on = 'ID do Comprador', how = 'left')
base_completa.head()

,Data,Quantidade,ID do Produto,ID do Comprador,ID da Loja,Valor Total da Compra,Nome do Produto,Marca,Cor do Produto,Preço,Categoria,Sub-categoria,Estoque,Nome Completo,Idade
0,2020-01-01,6,7,27,3,25194.00,Lava Louças Ciclo Pesado,Brastemp,Inox,4199.00,Eletrodomésticos,Lava-louças,14,Giovanna Moura,48
1,2020-01-02,1,10,21,1,62.90,Smart Lâmpada Wi-Fi Casa Inteligente,Positivo,Branco,62.90,Eletrônicos,Lâmpada LED,9,Eduarda Costa,65
2,2020-01-03,6,1,4,10,56994.00,iPhone 13 Pro,Apple,Grafite,9499.00,Eletrônicos,Celulares,10,Diogo Freitas,58
3,2020-01-04,10,5,6,9,47040.00,"Lava e Seca 10,1 kg",Brastemp,Prata,4704.00,Eletrodomésticos,Máquina de Lavar,16,João Miguel Viana,29
4,2020-01-05,2,6,10,10,6839.82,Lavadora de Roupas Digital Inverter 11kg,Samsung,Inox,3419.91,Eletrodomésticos,Máquina de Lavar,13,Luiz Otávio Nascimento,59

In [15]:
base_lojas = base_lojas[['ID da Loja', 'Cidade', 'Estado']]

In [16]:
base_completa = base_completa.merge(base_lojas, on = 'ID da Loja', how = 'left')
base_completa.head()

,Data,Quantidade,ID do Produto,ID do Comprador,ID da Loja,Valor Total da Compra,Nome do Produto,Marca,Cor do Produto,Preço,Categoria,Sub-categoria,Estoque,Nome Completo,Idade,Cidade,Estado
0,2020-01-01,6,7,27,3,25194.00,Lava Louças Ciclo Pesado,Brastemp,Inox,4199.00,Eletrodomésticos,Lava-louças,14,Giovanna Moura,48,Teresina,PI
1,2020-01-02,1,10,21,1,62.90,Smart Lâmpada Wi-Fi Casa Inteligente,Positivo,Branco,62.90,Eletrônicos,Lâmpada LED,9,Eduarda Costa,65,Diadema,SP
2,2020-01-03,6,1,4,10,56994.00,iPhone 13 Pro,Apple,Grafite,9499.00,Eletrônicos,Celulares,10,Diogo Freitas,58,Curitiba,PR
3,2020-01-04,10,5,6,9,47040.00,"Lava e Seca 10,1 kg",Brastemp,Prata,4704.00,Eletrodomésticos,Máquina de Lavar,16,João Miguel Viana,29,São Mateus,ES
4,2020-01-05,2,6,10,10,6839.82,Lavadora de Roupas Digital Inverter 11kg,Samsung,Inox,3419.91,Eletrodomésticos,Máquina de Lavar,13,Luiz Otávio Nascimento,59,Curitiba,PR

In [19]:
base_completa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 731 entries, 0 to 730
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data                   731 non-null    datetime64[ns]
 1   Quantidade             731 non-null    int64
 2   ID do Produto          731 non-null    int64
 3   ID do Comprador        731 non-null    int64
 4   ID da Loja             731 non-null    int64
 5   Valor Total da Compra  731 non-null    float64
 6   Nome do Produto        731 non-null    object
 7   Marca                  731 non-null    object
 8   Cor do Produto         731 non-null    object
 9   Preço                  731 non-null    float64
 10  Categoria              731 non-null    object
 11  Sub-categoria          731 non-null    object
 12  Estoque                731 non-null    int64
 13  Nome Completo          731 non-null    object
 14  Idade                  731 non-null    object
 15  Cidade                 731 non-null    object
 16  Estado                 731 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(9)
memory usage: 102.8+ KB

In [23]:
base_completa[['Quantidade', 'Preço', 'Valor Total da Compra']].describe().T

,count,mean,std,min,25%,50%,75%,max
Quantidade,731.0,5.380301,2.877469,1.0,3.0,5.00,8.00,10.0
Preço,731.0,2603.019343,2733.743016,52.0,69.0,2470.63,3998.70,9499.0
Valor Total da Compra,731.0,14316.466607,19228.292960,52.0,503.2,6839.82,22235.67,94990.0

In [24]:
path = '/content/drive/MyDrive/Colab Notebooks/Integração Excel - Python Pandas/'
base_completa.to_excel(path + 'Base Completa.xlsx', sheet_name = 'Tabela Completa de Vendas')